.login-window {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 20%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.dimmer {
    position:fixed;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background: rgba(0, 0, 0, 0.8);
    z-index:998;
    display: none;
}

.login-input-outer {
  border: 1px solid #000;
  border-radius: 8px;
  clear: both;
  display: inline-block;
  height: 45px;
  margin: 10px auto 10px;
  position: relative;
  width: 100%;
  float:right;
}

.remind-link {
  padding-top:8px;
  padding-right:3px;
  color: #242021;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 18px;
  float:right;
}
.remind-link:hover {
  color: #ec1c24 !important;
  font-weight:bold;
  cursor: pointer;
}

.login-input-outer input {
  background: #fff none repeat scroll 0 0;
  border: medium none;
  border-radius: 8px;
  color: #231f20;
  float: left;
  font-family: "Nixie One",cursive;
  font-size: 22px;
  height: 100%;
  margin: 0;
  padding: 0 0 0 10px;
  width: 100%;
}

.submit-login-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:left;
font-size: 18px;
font-weight: normal;
height: 40px;
line-height: 40px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.submit-login-btn:hover, .submit-login-btn:focus {
background-color: #ec1c24;
color: #fff !important;
border-color: #ec1c24;
cursor:pointer;
}

.cancel-login-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:right;
font-size: 18px;
font-weight: normal;
height: 40px;
line-height: 40px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.cancel-login-btn:hover, .cancel-login-btn:focus {
background-color: rgba(61,61,61,.8);
color: #fff !important;
cursor:pointer;
}

#login_button {
    cursor: pointer;
}

.login-response {
  margin-top: 16px;
  padding-top: 34px;
  color: #ec1c24;
  font-weight: bold;
  clear: both;
  text-align: center;
  font-family: "Nixie One",cursive;
  font-size: 18px;
}

.alert-window {
    position: fixed;
    top: 40%;
    left: 40%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #000000;
    padding: 10px;
    width: 20%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

.alert-close-btn {
background-color: rgba(255, 255, 255, 0.7);
border: 1px solid #242021;
color: #242021 !important;
display: table;
float:right;
font-size: 14px;
font-weight: normal;
height: 30px;
line-height: 30px;
margin: 0px auto 0;
padding: 0 25px;
text-align: center;
width: auto;
font-family: "Montserrat",sans-serif;
}

.alert-close-btn:hover, .alert-close-btn:focus {
background-color: rgba(61,61,61,.8);
color: #fff !important;
cursor:pointer;
}

.share-window {
    position: fixed;
    top: 40%;
    left: 30%;
    z-index: 999;
    background-color: rgba(255,255,255,1);
    color: #fff;
    padding: 10px;
    width: 40%;
    //border: 2px solid #242021;
    border: 4px solid #242021;
    display: none;
}

#refresh-report-button {
    color:#242021;
}
#refresh-report-button:hover {
    cursor:pointer;
    color:#ec1c24;
}

.footnote {color:#ec1c24;cursor:pointer;}
.footnote:hover .footnotetooltip {display:block;}
.footnotetooltip {font-size:12px;display:none;color:#000000;border:1px solid #242021;background:#D8D8D8;margin-left:250px;margin-top:-175px;padding:5px;position:absolute;z-index:998;width:200px;}

.module-icon {
    margin-top:-10px;
    margin-left:30px;
    margin-right:15px;
    height:35px;
    width:auto;
    cursor:pointer;
}

.module-icon-label {
    margin-top:0px;
    font-size:16px;
    color:#ffffff;
    cursor:default;
}